/* Cabeçalho */

header {
	background: #934dd2;
}

.banner {
	width: 22%;
}

.name {
	position:absolute;
	top: 0;
	right: 15%;
	width: auto;
	max-width: 40%;
}

.name:hover {
	max-width: 38%;
	transition: 1s all;
}

nav {
	padding-top: 7px;
	position: absolute;
	left: 0;
}

nav li{
	display: inline;
	padding-left: 10px;
	margin-right: 15px;
}

nav a {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: 3px 0 #934dd2;
	transition: 1s all;
}

nav a:hover {
	font-size: 35px;
	color: #934dd2;
	text-shadow: 0 3px #FFFFFF;
}

